body {
    background-color:#85C1E9; 
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    padding:0;
  }

nav {
  position:fixed;
  top:0;
  width: 100%;
  background-color: #ffffff;
  color:rgb(67, 67, 67);
  padding:10px 0;
  z-index:1000;
}

nav ul {
    margin: 0;
    padding:0;
    display: flex;
    justify-content: space-around;
    
}

nav ul a {
  color:white;
  text-decoration: none;
  font-size: 18px;
    
}

.apple-container {
  position:relative;
  display: inline-block;
  margin:0 auto;
}

.container {
  text-align: center;
  margin-top:80px;
}

/* TIMER */
#timer {
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 2.5rem;
  margin: 0;
  top: 55%;
  left: 46.5%;
  position:absolute;
  text-align: center;
}

#timer:hover {
  color:rgb(238, 238, 118);
}

#timer.warning{
  color: #c0392b;
  background-color: rgb(255, 178, 178);
  border-radius: 5px;
  padding: 5px;
}

/* BUTTONS */

.buttons {
  margin-top:20px;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: white;
  border: none;
  padding:10px 20px;
  margin: 5px;
  cursor:pointer;
  border-radius: 3px;
}

#start {
  background-color: #27ae60;
}

#pause {
  background-color: #E28B21;
  /*color: grey; /*temporary (hurts my eyes T-T) */
}

#stop {
  background-color: #c0392b;
}

button:hover{
  border: 1.5px solid black;
}
